<!DOCTYPE html>
<html>
    <head>
        <title>Frequently Asek Question | ChiKh</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../image/logo.ico" type="image/x-icon">
        <link rel="stylesheet" href="../icon/css/all.min.css">
        <link rel="stylesheet" href="../headerBar.css">
        <link rel="stylesheet" href="./css/faq.css">
        <link rel="stylesheet" href="../contactBox.css">
        <link rel="stylesheet" href="./css/search.css">
    </head>
    <body>
        <div class="container">
            <section class="navbar" style="z-index: 1;">
                <div class="logo">
                    <button><i id="menu-btn" class="fa-solid fa-bars"></i></button>
                    <a href="./faq.html">
                        CHI Movie
                        <i class="fa-solid fa-circle-play"></i>
                    </a>
                </div>
                <ul id="navbar-list">
                    <div class="second-logo">
                        <button><i id="menu-btn-second" class="fa-solid fa-bars"></i></button>
                        <a href="./faq.html">
                            CHI Movie
                            <i class="fa-solid fa-circle-play"></i>
                        </a>
                    </div>
                    <li><a class="home-page" data-tip="Home Page" href="../index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a class="faq-page" data-tip="Frqeuntly Asked Questions" href="./faq.html"  style="background-color: #494949;"><i class="fa-solid fa-comments"></i>FAQ</a></li>
                    <li><a class="request-drama-page request-drama" data-tip="Request Drama or Anime" style="cursor: pointer;"><i class="fa-solid fa-message"></i>Request Drama</a></li>
                    <li><a class="theme-page" data-tip="Switch Theme" href=""><i class="fa-solid fa-fill-drip"></i>Theme</a></li>
                    <li><a class="explore-page" data-tip="Video Library" href="./explore.html"><i class="fa-solid fa-eye"></i>Explore</a></li>
                    <li><a class="search-page" data-tip="Search" id="search-btn"><i class="fa-solid fa-magnifying-glass"></i>Search</a></li>
                    <li class="sign-in-btn"><a class="signin-page" href=""><i class="fa-solid fa-circle-user"></i>Sign in</a></li>
                </ul>
                <div class="second-nav-list">
                    <a class="search-page" data-tip="Search" id="search-second-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a class="sign-in-btn" href=""><i class="fa-solid fa-circle-user"></i>Sign in</a>
                </div>
            </section>
            <div class="contact-box">
            </div>
            <!-- Content -->
            <div class="content">
                <h3>Frequently Asked Questions</h3>
                <div class="faq">
                    <div class="asked-question-box question-box-1">
                        <div class="question-quick-box"><span>Video error ?</span><i class="fa-solid fa-angle-down arrow-btn-down"></i></div>
                        <div class="faq-content">
                            <p>Try reload it <a href=""><i class="fa-solid fa-rotate-right"></i></a> if it still not working send episode number and title or link to here <i onclick="showContactBox();" class="fa-sharp fa-solid fa-id-card-clip"></i>.</p>
                            <p>(Note: Our webside and app test and debug using google chrome)</p>
                        </div>
                    </div>
                    <div class="asked-question-box question-box-2">
                        <div class="question-quick-box"><span>Subtitle error ?</span><i class="fa-solid fa-angle-down arrow-btn-down"></i></div>
                        <div class="faq-content">
                            <p>Send episode number and title or link to here <i onclick="showContactBox();" class="fa-sharp fa-solid fa-id-card-clip"></i></p>
                        </div>
                    </div>
                    <div class="asked-question-box question-box-3">
                        <div class="question-quick-box"><span>Other error ?</span><i class="fa-solid fa-angle-down arrow-btn-down"></i></div>
                        <div class="faq-content">
                            <P>Tell us what's your problem to here <i onclick="showContactBox();" class="fa-sharp fa-solid fa-id-card-clip"></i></P>
                        </div>
                    </div>
                    <div class="asked-question-box question-box-4">
                        <div class="question-quick-box"><span>Request drama ?</span><i class="fa-solid fa-angle-down arrow-btn-down"></i></div>
                        <div class="faq-content">
                            <P>Send title of your drama or anime to here <i onclick="showContactBox();" class="fa-sharp fa-solid fa-id-card-clip"></i></P>
                        </div>
                    </div>
                    <div class="asked-question-box question-box-5">
                        <div class="question-quick-box"><span>Redirect ads problem ?</span><i class="fa-solid fa-angle-down arrow-btn-down"></i></div>
                        <div class="faq-content" style="align-items: center;">
                            <p>Follow this video introduction for those who can't watch video. *Note use browser such as Google Chrome, Firefox, safari ...</p>
                            <iframe width="760" height="415" src="https://www.youtube.com/embed/X7eo4OYR8BU" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="asked-question-box question-box-6">
                        <div class="question-quick-box"><span>Install mobile app ?</span><i class="fa-solid fa-angle-down arrow-btn-down"></i></div>
                        <div class="faq-content" style="align-items: center;">
                            <iframe width="760" height="415" src="https://www.youtube.com/embed/bhsIinrKgv4" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="asked-question-box question-box-7">
                        <div class="question-quick-box"><span>Change Subtitle Style ?</span><i class="fa-solid fa-angle-down arrow-btn-down"></i></div>
                        <div class="faq-content faq-subtitle-style" style="justify-content: start;">
                            <h3>Android</h3>
                            <ol>
                                <li>Open your device's Settings app .</li>
                                <li>Tap Accessibility, then tap Caption preferences.</li>
                                <li>Tap Caption size and style</li>
                                <li>To change caption size, tap Text size, then select the text size.</li>
                                <li>To change the style and color for caption text and background, tap Caption style, then select the style.</li>
                            </ol>
                            <h3>Video</h3>
                            <iframe src="https://www.youtube.com/embed/A_ZTFrLJ8oM" title="How To Turn On And Customize Captions On An Android" frameborder="0"  allowfullscreen></iframe>
                            <h3>iOS</h3>
                            <ol>
                                <li>Go to Settings  > Accessibility > Subtitles & Captioning.</li>
                                <li>If you prefer closed captioning or subtitles for the deaf and hard of hearing when available, turn on Closed Captions + SDH.</li>
                                <li>Tap Style, then choose an existing caption style or create a new style based on the following:</li>
                                <ul>
                                    <li>Font, size, and color</li>
                                    <li>Background color and opacity</li>
                                    <li>Text opacity, edge style, and highlight</li>
                                </ul>
                            </ol>
                            <h3>Video</h3>
                            <iframe src="https://www.youtube.com/embed/HPaadJsbGY4" title="iPhone 11 Pro: How to Enable / Disable Closed Captions Subtitle" frameborder="0" allowfullscreen></iframe>
                            <h3>Windows</h3>
                            <ol>
                                <li>On a Windows 10 PC, go to Settings.</li>
                                <li>Tap or clickEase of Access.</li>
                                <li>Tap or click Closed captions.</li>
                                <li>Customize how closed captions will be displayed on your screens.
                                    Note Your changes will be reflected in the Preview pane at the top of the window as you make them.</li>
                            </ol>
                            <img width="700px" src="../image/windows-sybtitle-change.png" alt="">
                        </div>
                    </div>
                </div>
                <a href="https://web.facebook.com/profile.php?id=100005989516582" target="_blank"><button class="contact-team"><i class="fa-brands fa-facebook-f"></i><p>Find us on Facebook</p></button></a>
            </div>
             <!-- Search -->
             <div class="search-bar" style="z-index: 1;">
                <div class="search-content">
                    <div class="search-box">
                        <i class="fa-solid fa-angle-left"></i>
                        <div class="input-search-box">
                            <input id="search-box" type="text" placeholder="Search">
                        </div>
                    </div>
                    <div class="genre-list">
                        <button onclick="genreSelected(0)" class="genre-group genre1">All</button>
                        <button onclick="genreSelected(1)" class="genre-group genre2">TVSeries</button>
                        <button onclick="genreSelected(2)" class="genre-group genre3">Movie</button>
                        <button onclick="genreSelected(3)" class="genre-group genre4">Anime</button>
                        <button onclick="genreSelected(4)" class="genre-group genre5">Hollywood</button>
                    </div>
                    <h3>Popular Search</h3>
                    <div class="movie-list-group">
                        <div class="movie-list">
                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="footer">
                <div class="footer-content">
                    <p>Version 3.4</p>
                    <img height="25px" src="../image/GoogleStore.png" alt="">
                </div>
            </div>
        </div>
    </body>
    <script src="./js/faq.js"></script>
    <script src="../headerBar.js"></script>
    <script src="../contactBox.js"></script>
    <script src="./js/search.js"></script>
    <script src="../component/data/movieResults.js"></script>
    <script>
        getMovie(API_URL,0,showMovieToSearchList,"./movie.html");
        getMovie(API_URL2,2,showMovieToSearchList,"./movie.html");
        getMovie(API_URL1,1,showMovieToSearchList,"./movie.html");
        getMovie(API_URL3,3,showMovieToSearchList,"./movie.html");
        getMovie(API_URL4,4,showMovieToSearchList,"./movie.html");
        getMovie(API_URL5,5,showMovieToSearchList,"./movie.html");

        searchActivity("./movie.html");
    </script>
</html>